*.pyc
*.egg-info
*.c10
build
dist
scripts/mplayer/*
bin/*
.tox/*
.ropeproject
MANIFEST
.DS_store
.cache
junit*
.coverage
coverage.xml
htmlcov
deps
docs/html
docs/doctrees
.pdm.toml
.vscode
*.xml
__pypackages__
.pdm-python
