
trigger:
- master

variables:
  major: 0
  minor: 3

name: $(major).$(minor)$(Rev:.r)

jobs:

- job: Test
  strategy:
    maxParallel: 5
    matrix:
      Ubuntu-py3.6:
        imageName: 'ubuntu-latest'
        python.version: '3.6'
      Ubuntu-py3.7:
        imageName: 'ubuntu-latest'
        python.version: '3.7'
      Ubuntu-py3.8:
        imageName: 'ubuntu-latest'
        python.version: '3.8'
      macOS-py3.6:
        imageName: 'macos-latest'
        python.version: '3.6'
      macOS-py3.7:
        imageName: 'macos-latest'
        python.version: '3.7'
      macOS-py3.8:
        imageName: 'macos-latest'
        python.version: '3.8'
      Windows-py3.6:
        imageName: 'windows-latest'
        python.version: '3.6'
      Windows-py3.7:
        imageName: 'windows-latest'
        python.version: '3.7'
      Windows-py3.8:
        imageName: 'windows-latest'
        python.version: '3.8'

  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "$(python.version)"
      architecture: 'x64'

  - script: python -m pip install -U tox pytest-azurepipelines
    displayName: 'Install dependencies'

  - script: python -m pip install -e .
    displayName: 'Install library'

  - script: tox
    displayName: 'Run tests'

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit-*.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'

# Create dist files for PyPI release
- job: Build
  dependsOn: 'Test'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.8"
      architecture: 'x64'

  - script: "python -m pip install -U pip setuptools wheel"
    displayName: "Install dependencies"

  - script: "echo \"version = '$(Build.BuildNumber)'\" > chapter10/version.py"
    displayName: "Update version # to match build"

  - script: "python setup.py sdist bdist_wheel"
    displayName: "Build source & wheel distributions"

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'dist'
      artifactName: dist

# Package dependencies and docs with source code
- job: Bundle
  dependsOn: 'Test'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.8"
      architecture: 'x64'

  - script: "echo \"version = '$(Build.BuildNumber)'\" > chapter10/version.py"
    displayName: "Update version # to match build"

  - script: "python -m pip download . -r requirements.txt -d dependencies --no-binary :all:"
    displayName: 'Download dependencies'

  - script: "python -m pip install -r requirements.txt && python setup.py build_docs"
    displayName: 'Build documentation'

  - task: ArchiveFiles@2
    displayName: 'Zip full package'
    inputs:
      rootFolderOrFile: '$(Build.SourcesDirectory)' 
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: 'pychapter10-$(Build.BuildNumber)-full.zip' 
      replaceExistingArchive: true 

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'pychapter10-$(Build.BuildNumber)-full.zip'
      artifactName: complete-library
